


.grid {

    text-align: center ;
    display: grid;
    grid-template-columns:  35%;
    grid-template-rows:   30px ;
    grid-template-areas:    "header header header"
                            " sidebar main right"
                            "sidebar footer footer";
    

  }
  

.titre1{
    grid-area: header;
    margin-top: auto;


}


.bar2{

    grid-area: header;
    margin-top: 520px;

}


.texte3{

    grid-area: sidebar;
    margin-top: 550px;
    background-color: lightsalmon;

}




  header{

    background-image: url("https://i.imgur.com/HC42paw.jpg");
    background-size: 300px 100px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
  

   
    
  }


  h1{
    margin-top: 120px;  
    font-size: 80px;
  }






  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
  }




  .texte{
    background-color: rgb(189, 133, 111) ;
    margin-top: auto;
  }