
section {

    text-align: center ;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }


  header{

    background-image: url("https://i.imgur.com/HC42paw.jpg");
    background-size: 300px 100px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
  

   
    
  }


  h1{
    margin-top: 120px;  
    font-size: 80px;
  }






  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
  }